body {
  margin: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex-between {
  display: inline-flex;
  align-content: space-between;
}

.episode-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
}

.episode-box {
  padding: 0.5rem;
}

.header {
  align-items: center;  
  background: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  position: sticky;
  top: 0;
}
.header * {
  margin: 0;
}

.form-container {
  padding-left: 20px;
}

.btn-success {
  padding:  5px 10px 5px 10px ;
  background-color: rgb(130, 180, 247);
  font-weight: bold;
}

.border-bottom {
  border: 1px solid black;
  padding: .5rem;
  margin-right: 5px;
  position: sticky;
}

.movie-container {
  padding-left: 20px;
  display: inline-flex;
}